
@{
    ViewBag.Title = "Ruudukkotestiä";
}

<h2>Ruudukkotestiä</h2>

<button class="btn btn-danger">Poista <span class="glyphicon glyphicon-trash"></span></button>
<p>&nbsp;</p>
@* koko näytön leveys ruudukossa 12 yksikköä *@
<div class="row">
    <div class="col-md-6" style="background-color: pink;">Vasen sarake</div>
    <div class="col-md-6" style="background-color: palegreen;">Oikea sarake</div>
</div>
<div class="row">
    <div class="col-md-5" style="background-color: aliceblue;">Vasen sarake</div>
    <div class="col-md-7" style="background-color: rosybrown;">Oikea sarake</div>
</div>

